@model Fortune_Teller_MVC.Models.Customer

@{
    ViewBag.Title = "Fortune";
}

<h2>@Html.DisplayFor(modelItem => Model.FirstName)&nbsp;@Html.DisplayFor(modelItem => Model.LastName)</h2>

<div class="fortune">
    <p>Based on your input, the crystal ball shows...</p>
    <p>You will retire at the age of <span>@ViewBag.RetirementAge</span> with <span>@ViewBag.RetirementMoney</span> across your bank accounts, a vacation home in <span>@ViewBag.VacationHome</span>, and a <span>@ViewBag.ModeOfTransportation</span>.</p>
</div>

@*GO BACK TO LIST and EDIT and DELETE*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-info", role = "button" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.CustomerID }, new { @class = "btn btn-info", role = "button" })
    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Categories")'">Back to List</button>
</p>

@*<h2>Fortune</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSiblings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSiblings)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
