@model IEnumerable<Fortune_Teller_MVC.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2 class="view-header">
    Customers<br />
</h2>

@*CREATE NEW CUSTOMER*@
<p class="new-customer">
    <button type="button" class="btn btn-info create-new" onclick="location.href='@Url.Action("Create", "Customers")'">New Customer</button>
</p>

@*ROW CONTAINING CUSTOMER INFORMATION*@
<div class="row">
    @*LOOP THAT IS ABLE TO HANDLE NEW CUSTOMER ADDITIONS*@
    @foreach (var item in Model)
    {
        @*CUSTOMER*@
        <div class="col-xs-12 col-sm-12 col-md-12 customer-grid">
            <div class="thumbnail">
                <div class="caption row">
                    <div class="grid-header col-md-3">@Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.LastName)</div>
                    @*BUTTONS FOR DETAILS, EDIT, AND DELETE*@
                    <div class="buttons col-md-9">
                        @Html.ActionLink("See Fortune", "Details", new { id = item.CustomerID }, new { @class = "btn btn-info btn-option", role = "button" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-info btn-option", role = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }, new { @class = "btn btn-info btn-option", role = "button" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
